[run]
branch = True
source =
    agents
    api
    inference
    coalitions
    infrastructure
    knowledge
    world

[report]
omit =
    */tests/*
    */venv/*
    */migrations/*
    */__init__.py
fail_under = 50
show_missing = True 